<div class="col-md-12" ng-controller="ProjectDetailCtrl">
    <div class="form-group">
        <label>Project ID</label>
        <input type="text" id="name" class="form-control" ng-model="projectId" ng-change="checkChanged()">
    </div>
    <div class="form-group sample-show-hide" ng-show="canSave">
        <button class="form-control btn btn-primary" ng-click="upsert()">Save</button>
    </div>
    <div class="form-group sample-show-hide" ng-show="canDelete">
        <button class="form-control btn btn-primary" ng-click="remove()">Delete</button>
    </div>
    <table class="table table-condensed table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Package Name</th>
            <th>License</th>
        </tr>
        </thead>
        <tbody ng-repeat="p in project.packages">
        <td>{{p.id}}</td>
        <td><a ui-sref="package-detail({id:p.id})">{{p.name}}</a></td>
        <td><a ui-sref="license-detail({id:p.license.id})">{{p.license.name}}</a></td>
        </tbody>
    </table>
    <div class="btn-group">
        <a class="btn btn-primary pull-right" ui-sref="project">Back to project list</a>
    </div>
</div>
