<div class="col-md-12" ng-controller="OsspCtrl">
    <div class="row">
        <table class="table table-hover">
            <thread>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Home</th>
                </tr>
            </thread>
            <tbody ng-repeat="ossp in osspList">
            <tr ng-click="goDetail(ossp.id)">
                <td>{{ossp.id}}</td>
                <td>{{ossp.name}}</td>
                <td><a href="{{ossp.projectUrl}}">{{ossp.projectUrl}}</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row text-center">
        <pagination class="centered"
                    total-items="totalItems"
                    items-per-page="itemsPerPage"
                    ng-model="currentPage"
                    ng-change="pageChanged()"></pagination>
    </div>
    <div class="row">
        <div class="btn-group">
            <a class="btn btn-primary pull-right" href="/#/ossp-detail/">Add new OSS Project</a>
        </div>
    </div>
</div>
