<div class="col-md-12" ng-controller="ProjectCtrl">
    <div class="row">
        <table class="table">
            <thread>
                <tr>
                    <th>ID</th>
                    <th>Project ID</th>
                    <th>Usages</th>
                </tr>
            </thread>
            <tbody ng-repeat="project in projectList">
            <td>{{project.id}}</td>
            <td>{{project.projectId}}</td>
            <td>{{project.packages.length}}</td>
            </tbody>
        </table>
    </div>
    <div class="row">
        <pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></pagination>
    </div>
</div>
